[2017-12-13 02:54] tannewt opened #2 "Add CircuitPython HW API compatible classes"
SeeSaw functionality should be expose by objects that mimic the native HW API. For example, digital pin reading and writing should match [DigitalInOut](https://circuitpython.readthedocs.io/en/2.x/shared-bindings/digitalio/DigitalInOut.html).

This should include:

- [DigitalInOut](https://circuitpython.readthedocs.io/en/2.x/shared-bindings/digitalio/DigitalInOut.html)
- [PWMOut](https://circuitpyt

[2018-05-01 19:13] ladyada commented on #2
PWMout channel has been added :)

[2018-05-01 22:39] deanm1278 commented on #2
DigitalInOut and AnalogIn have been added as well

[2018-05-02 22:04] deanm1278 commented on #2
NeoPixel has been added as well

[2018-05-02 22:04] #2 closed

[2018-05-06 00:37] dhalbert opened #7 "crckit_example.py is too big to load with current adafruit_seesaw.mpy; fix spelling"
Trying to `import crckit_example.py` with the current adafruit_seesaw.mpy gets a storage error.

Should it be not renamed crickit_example.py, also?

[2018-05-06 00:39] dhalbert opened #8 "adafruit_seesaw.py imports `struct`, which doesn't work on 2.x."
CircuitPython 2.x uses `ustruct` instead of `struct`. The common fix is:
[code]
E.g. in https://github.com/adafruit/Adafruit_CircuitPython_LIS3DH/blob/d5491cded0d12716ceb1111ca4c4431111a22df6/adafruit_lis3dh.py#L37

[2018-05-07 14:57] deanm1278 commented on #8
fixed!
https://github.com/adafruit/Adafruit_CircuitPython_seesaw/commit/45fadc87b28879a3d721cddf9c92c28737e41e43

[2018-05-07 14:57] #8 closed

[2018-05-07 15:04] deanm1278 commented on #7
ok I'll have a look and see if I can get it to fit.
I'm not totally sure about the name, some of the schematic files are called CRCKIT, but there's also a photo with a silkscreen that says CRICKIT.
@ladyada which one should be used?

[2018-05-07 16:03] ladyada commented on #7
yah we changed the name, it should be 'crickit' now :)

[2018-05-07 16:57] deanm1278 commented on #7
ok updated names!

[2018-05-22 21:51] dhalbert opened #9 "Add `__version__` and `__repo__`"
Add `__version__` and `__repo__` values to each `.py` file (not including `__init__.py`).

As an example, see for instance:
https://github.com/adafruit/Adafruit_CircuitPython_Motor/blob/master/adafruit_motor/servo.py:
[code]
This stuff comes with cookie-cutter. The version info is replaced with the actual version tag when a library release is generated.

[2018-05-22 23:57] #9 closed

[2018-06-12 17:33] jedgarpark opened #11 "Button pressing crash w motors and servo"
I'm crashing my bumper bot! Trying to use button a to start tt motors and turn servo once, then button b to stop motors and turn servo once. sometimes works, but often crashes the board when pressing the button b in particular. Seems to be worse if I rapidly press buttons.

 This will eventually also need to respond to accelerometer "shake" when it hits a wall, telling motors to back up, skid stee

[2018-06-12 17:35] ladyada commented on #11
@jedgarpark thx, plz use ```'s for code blocks, or you can use the GUI <> to insert code:

![image](https://user-images.githubusercontent.com/1214161/41306873-87fd0ece-6e45-11e8-9473-38091d1591b3.png)

[2018-06-12 18:02] tannewt commented on #11
It'd be interesting to determine if this is a SeeSaw firmware problem or a MakeCode/CircuitPython problem. Since it happens with both it makes me suspect its the SeeSaw firmware.

[2018-06-12 18:46] ladyada commented on #11
@jedgarpark for the code you put above, is that the broken one or the one you got working?

[2018-06-12 19:06] deanm1278 commented on #11
hey @jedgarpark can you try doing this with no motors plugged in and make sure it still crashes?

[2018-06-12 20:41] deanm1278 commented on #11
we've hashed this out to be a power supply issue and not code related.

[2018-06-12 20:41] #11 closed

[2018-06-20 17:58] dhalbert opened #13 "adafruit_seesaw.neopixel.Neopixel should probably be "NeoPixel""
The NeoPixel class in neopixel.py is spelled "Neopixel" instead of "NeoPixel". Probably should fix this early for consistency. We'll have to update some examples.

@ladyada ok by you? I could make it backward compatible by renaming the class and then doing
[code]
at the end of the file. But that will be a workaround for forever.

[2018-06-20 18:05] ladyada commented on #13
yep!

[2018-06-26 18:21] dhalbert commented on #13
Fixed by #14.

[2018-06-26 18:21] #13 closed

[2018-08-28 19:54] ladyada opened #19 "use packing instead of bytearray([])"
https://github.com/adafruit/Adafruit_CircuitPython_seesaw/pull/18#pullrequestreview-150249540

[2018-09-27 20:19] #19 closed

[2018-10-13 04:04] arnieforte commented on #11
I am currently having this issue with a feather cricket. What is the fix? It says power supply but is that the power that is getting attached to the board or the power supply circuitry on the board? One interesting thing is that I am catching the IO Error and if I reset the cricket board, the motors start working again.

I also tried the test of disconnecting the motors from the board and it does

[2018-10-13 22:13] ladyada commented on #11
hiya - arnie please post in the forums since this is a tech quesion not an issue - but try fresh batteries too!

[2018-11-27 20:04] caternuson opened #20 "Calls to analog_write require a delay"
More info here:
https://forums.adafruit.com/viewtopic.php?f=19&t=144068
I've also recreated the issue.

Multiple calls to`analog_write` generate an IOError. Adding a `time.sleep` between calls fixes it.

[2018-11-27 22:19] deanm1278 commented on #20
hey this customer is using an old and now unsupported python library. Please have them switch to using this library (they will also need to set up blinka for running circuitpython code on the raspi). I have just fixed this library for raspberry pi trying to analog write too fast, but they still may run in to problems on other actions that the pi does too fast. If they run in to this problem they c

[2018-11-27 22:19] #20 closed

[2019-02-19 03:20] ladyada opened #23 "Seesaw soil sensor getting spurious readings"
see https://github.com/adafruit/Adafruit_Blinka/issues/84 !

[2019-02-22 01:24] caternuson commented on #23
PR'd #24

Things to note. All open for discussion.

* Went back to original read code timing since increasing it did not seem to fix problem
* Using magic numbers for reading threshold (4095) and max retries (3), wanted to keep modifications very local in code
* Raising an exception if retries exceeded

[2019-02-22 01:45] caternuson commented on #23
I'll take PR merge-ment as acceptance. Closing for now.

[2019-02-22 01:45] #23 closed

[2019-02-26 11:08] wallarug opened #25 "New Board causing OSError: [Errno 5] Input/output error"
Hi!

I am experiencing issues with setting the pins when using SeeSaw + new board (Robo HAT MM1) and looking for some assistance from someone with a bit of experience.  I already have CircuitPython running on the board and my next mission is to get SeeSaw compatibility.

SeeSaw device is showing up with i2cdetect.

[code]

The error stack trace does not make sense to me as there are lots of calls

[2019-02-26 17:18] ladyada commented on #25
thanks - that can happen if you send it a bad command, that doesnt match what seesaw is expecting for its pin setups. the CRICKIT hat uses seesaw so you can look at how that is configured, then attach a debugger or turn on debug ouput to the seesaw chip and see what data its getting or expecting. since this doesn't seem to be a bug in our library, this issue will be closed.

[2019-02-26 17:18] #25 closed

[2019-04-03 08:15] Phill93 opened #27 "How to use on raspberry"
How do I use this library on a raspberry?

[2019-04-03 17:29] ladyada commented on #27
@kattni we need to update the guide
@Phill93 you can follow https://learn.adafruit.com/circuitpython-on-raspberrypi-linux and the pip install this library

[2019-04-03 20:04] kattni commented on #27
@Phill93 The guide has been updated to reflect using the current library, including a code example. Please visit the guide for more information. https://learn.adafruit.com/adafruit-seesaw-atsamd09-breakout/raspberry-pi-wiring-test

[2019-04-03 20:04] #27 closed

[2019-05-04 06:49] wallarug opened #30 "Support for PulseIn"
Hi,

Is there support for pulseio.PulseIn somewhere in SeeSaw?

I can see that it is mentioned but I am unsure how to use it with SeeSaw.

There is CircuitPython support.  I have this example working in CircuitPython, however, not worked out how to port it across to SeeSaw.  If someone could point me in the right direction or say: "implement it please", that would be great!

[code]

Thanks in adva

[2019-05-04 17:10] ladyada commented on #30
implement it please :)

[2019-05-05 12:23] wallarug commented on #30
No worries 😜

[2019-05-05 12:36] wallarug opened #31 "Digital Write for LED and other Pins"
Good Evening / Morning,

I have tried the following example code and had no luck:

[code]

Does SeeSaw lock pins that are given special functions (like the board **LED**, PWM, ADC, Encoder, etc) so that digital_write() does not work?

I would really like to be able to control the board LED.

Is this a limitation that can be `unlocked`?  Or am I doing something wrong?

Thanks 😅

[2019-05-05 16:35] ladyada commented on #31
you can implement it

[2019-06-07 21:56] EricGallimore opened #32 "Neopixel White value is ignored when RGB set to 0"
If you want to make an RGBW pixel white by setting a white value like this:
neopixels.fill((0,0,0,255))

it will instead set the W value to 0.  The offending logic is here:
[code]

Perhaps this should change, such that the W pixel value is only inferred from RGB values if the W value is 0?  The `if` statement could become
` if self._bpp ==4 and r==g==b and w==0:`

[2019-06-10 03:32] ladyada commented on #32
we dont use RGBW pixels so much, but if you're up for trying and fixing we'd love a PR!

[2019-06-22 10:08] jerryneedell opened #33 "Invalid soil temperature readings"
I'm not sure where this issue belongs, but I'd appreciate it if someone and see if they can reproduce it.
This was originally reported here https://github.com/adafruit/circuitpython/issues/1912  butI think it better addressed independent from that issue. I'n not sure if it is a CP or a seesaw issue.

I had been running this sensor successfully up to a few weeks ago but now when I try to run the so

[2019-06-22 17:37] ladyada commented on #33
@caternuson could be related to https://github.com/adafruit/Adafruit_CircuitPython_seesaw/issues/23 ?

[2019-06-22 20:22] jerryneedell commented on #33
I tried some simple changes and it looks like the I2C read for the temperature value is just flaky. I'll do some more testing and provide more details tomorrow.

It would be good to know if anyone can reproduce this issue....Just run soil_simpletest.py
moisture is fine - temperature is bogus.

[2019-06-23 09:25] jerryneedell commented on #33
This is all it needed: longer delay in I2C read
[code]
PR coming after a few more tests

[2019-06-23 19:18] #33 closed

[2019-06-26 18:27] caternuson commented on #33
Ugh. Just now seeing this for some reason. Sorry.

Seems to make sense that a delay was needed. The `read_moisture` was already doing that with a value of `0.005`. So guess `read_temp` needed it also. Nice find @jerryneedell

@ladyada But not sure if it relates to that spurious moisture reading issue, which persisted even with bumps in the delay. Could be related in some tangential way though - li

[2019-06-26 18:28] ladyada commented on #33
possibly but i dont have cycles to debug :/ and this is a good enough fix...

[2019-07-08 22:14] zostay opened #35 "What is pin_mode_bulk_b for?"
Okay, so I'm looking through the source code here because I wanted to understand how SeeSaw works. I was thinking of offering an improvement to `pin_mode_bulk`/`pin_mode_bulk_b` because I'm a software developer by day and that much duplicated code gives me the screamin' willies. However, before I can do that, I need to understand what is going on.

My confusion stems from what I read the SeeSaw da

[2019-07-08 22:17] ladyada commented on #35
yeah, there's two PORTs on the samd chips we support, PA00-PA31 and PB00-PB31 - internally to the chip you can write all 32 bits as an atomic operation, and for reading multiple pins, its faster to do it in 'bulk' :)

[2019-07-09 01:46] zostay commented on #35
Cool beans.

[2019-07-09 01:46] #35 closed

[2019-07-09 15:03] zostay opened #37 "Pin mappings are space efficient, but time inefficient"
When SeeSaw sends signals over the wire it uses a channel offset for some of the operations, which is calculated using the index of the pin in the pin mapping list. Here's the code for one such operation:

[code]

The way this works allows the pins to be stored with O(n) efficiency at the average cost in time to look up also being O(n) efficiency. This means that It takes several cycles longer to

[2019-07-09 15:43] zostay opened #38 "Duplicate operations in seesaw.py"
The method named `analog_write` is nearly identical to `set_pwn_freq`. The latter is more streamlined and the former has more error checking, but aside from that they do the same thing.

Is there a reason for both being present?

[2019-07-09 16:03] zostay commented on #32
This is a really interesting problem. The suggested correction will fix the problem case in particular, but it will still cause problems when someone really wants to directly control all 32-bits of color. I think a better solution is:

1. Implement the change suggested by @EricGallimore

2. Add an additional check that disables the code all together in case someone wants direct control over the LE

[2019-07-09 16:48] ladyada commented on #38
analog write is for beginners, its the common name of that sort of function. set pwm freq is for more advanced uses!

[2019-07-09 16:48] #38 closed

[2019-07-09 16:53] ladyada commented on #37
hiya - if n is 8 it doesnt matter what O() it is. we optimize for reducing memory footprint (which is in short supply)

[2019-07-09 22:06] zostay commented on #37
It might matter, but the trade-off has to be made somewhere, so it's a reasonable trade-off. Thanks.

[2019-07-09 22:06] #37 closed

[2019-08-21 02:42] caternuson commented on #32
Is this automagic behavior more of hindrance than a convenience? Another idea might be to get rid of it and just require explicitly setting what you want.

[2019-08-21 03:12] #32 closed

[2019-08-21 03:12] ladyada commented on #32
thanx!

[2019-08-21 18:31] caternuson commented on #32
@EricGallimore Thanks for pointing this out. Please try updating to the 1.5.2 version of the library:
https://github.com/adafruit/Adafruit_CircuitPython_seesaw/releases/tag/1.5.2

[2020-03-14 17:37] FoamyGuy opened #49 "neopixel.brightness does not take effect with auto_write or show()"
This issue stems from a user in the #help-with-circuitpython discord channel. It was originally noticed on a Feather Cricket, which is also how I've done the testing on it. But I believe I've narrowed the behavior down to the seesaw library, if this issue would be more appropriate on the crickit library though let me know and I can move it to there.

It seems that changing `neopixel.brightness` do

[2020-09-18 12:53] veryalien opened #53 "seesaw_crickit_test.py fails with Invalid touch pin"
seesaw_crickit_test.py fails with a ValueError Invalid touch pin

This is not surprising as the code tries to use ss.touch_read with crickit "pins" range(4) - 0 to 3 (no pin mapping).
In the Crickit.Pinmap the touch "pins" are correctly defined as 4 to 7, so the touch_read fails with a ValueError.
How did this example ever work?

[2020-09-19 09:39] veryalien commented on #53
After further investigation it looks like real issue is inconsistent seesaw touch "pin" numbering.
The microbit seesaw driver for some reason uses touch pins 0 to 3. All other seesaw "pins" for motors, signals, servos, etc. are the same as other seesaw drivers.
If you sonehow tested the seesaw_crickit_test with a development seesaw driver then it might explain the incorrect 0 to 3 numbering instea

[2020-09-19 12:28] ladyada commented on #53
what hardware are you using, and what example are you using?

[2020-09-19 13:31] veryalien commented on #53
I'm tinkering with perhaps strange combinations. I'm using the following:
Crickit featherwing for any feather - although I do not actually have a feather!
Trinket M0 - I thought it would not matter as everything is over I2C - SDA, SCL, 5V from Crickit Board to BAT, and GND.
The I2C connection works fine, it's not exactly rocket science!

There's not too much memory in the trinket and it doesn't li

[2020-09-19 15:25] veryalien commented on #53
Just to prove (to myself) that I'm not going completely crazy and I kind of know what I'm doing,  I've swapped out the Trinket M0 with an ItsyBitsy M4 Express where the adafruit_crickit library loads.

And.... everything on the crickit board now works completely as expected!

I'm really not sure what the adafruit_circuitpython_seesaw library is all about as the basic I2C comms and simple I/O signa

[2020-09-19 16:19] ladyada commented on #53
well the trinket m0 will def not have enough RAM for the crikit library. the itsy m4 is best to use!

[2020-09-19 16:32] veryalien commented on #53
I will close this issue, even though the original touch pin problem is not entirely solved.
It's not worth solving a problem that doesn't really exist when the relevant boards (feather, microbit, circuit playground or raspi) are used with their respective crickits.

[2020-09-20 11:00] veryalien commented on #53
Just to make sure I wasn't dreaming, I went back to the trinket M0 connected to the featherwing crickit.

I erased the trinket and re-installed circuitpython  5.3.1 and the correct adafruit_seesaw, adafruit_motor and adafruit_bus_device libraries. I've ignored the top-level crickit convenience class as it is too large for the trinket memory.

If I do everything long-hand to create the correct PWMO

[2020-09-20 13:42] veryalien commented on #53
Replace line 72 of seesaw_crickit_test.py:
val = ss.touch_read(i)

With:
val = ss.touch_read(i+4)

And it will all 'magically' start working!

[2020-10-03 21:17] jgoergen opened #54 "seesaw uart messing with rpi serial0 uart."
I'm trying to read a sensor over standard 'minicom' serial0 UART on the Raspberry Pi, but the data only comes in when I hold down the reset button on the Crickit. If I plug a USB cable into the seesaw USB port and 'Putty into' the serial adapter, then connect to the Rasbperry Pi serial0 UART with screen, I can type data back and forth. So I know the Seesaw is, by default, connected directly to the

[2020-10-03 22:21] ladyada commented on #54
duplicate

[2020-10-03 22:21] #54 closed

[2020-11-19 10:01] psteininger opened #55 "Help request: Understanding Temperature Reading"
Hi all,

I am porting parts of the Seesaw Python code to an Elixir library specifically for the soil moisture sensor. The moisture reading is straight forward, however I see something I don't fully understand in the code. Specifically Line 362 below.
Why are we doing binary AND on the first byte and why is the value `0x3f` ?
https://github.com/adafruit/Adafruit_CircuitPython_seesaw/blob/9d91ec849e

[2020-11-19 18:27] ladyada commented on #55
hi its been a while but here is the C code version
https://github.com/adafruit/Adafruit_Seesaw/blob/master/Adafruit_seesaw.cpp#L659
and here is the code running on the seesaw
https://github.com/adafruit/seesaw/blob/bdc84a69b9c452d90d4eb3644d2337a5f356469b/source/Delegate.cpp#L200

[2020-11-20 10:35] psteininger commented on #55
Hi @ladyada , thank you for sending the pointers. It's been a long time since I worked with C and C++ (I think it was freshman year in college), but I think I should manage to figure things out.

Elixir has a very interesting way of working with bits (i.e. a string is considered a "binary", because it's divisible by 8), so some things are easier than others.
For example, calling `write_read/4` ret

[2020-11-20 16:33] ladyada commented on #55
awsome :)

[2021-01-27 18:54] rsbohn opened #57 "Can't import adafruit_seesaw.tftshield18 on RP2040 Raspberry Pi Pico"
Running Adafruit CircuitPython 6.2.0-beta.0 on 2021-01-22; Raspberry Pi Pico with rp2040.

    import board
    from adafruit_seesaw.tftshield18 import TFTShield18

Expected: Should import the module.
Actual:

    Traceback (most recent call last):
      File "code.py", line 10, in <module>
      File "adafruit_seesaw/tftshield18.py", line 63, in <module>
      File "adafruit_seesaw/tftshield18.py

[2021-01-27 18:55] rsbohn commented on #57
'this' is line 69 of https://github.com/adafruit/Adafruit_CircuitPython_seesaw/blob/master/adafruit_seesaw/tftshield18.py

[2021-01-29 17:44] #57 closed

[2021-04-23 15:24] #30 closed

[2021-05-12 17:30] jerryneedell opened #63 "Should the product code be verified?"
Just a thought...
Should the seesaw library also test the seesaw product id to make sure it is compatible with the device -- the Arduino code does this. For example the encoder build should be 4991
https://github.com/adafruit/seesaw/blob/master/boards/encoder/board_config.h#L4
It is checked in the Arduino example, not in the library https://github.com/adafruit/Adafruit_Seesaw/blob/master/examples/

[2021-05-12 17:38] ladyada commented on #63
ill note i havent really verified older seesaw items have this PID burned in - i am verifying going forward tho!

[2021-05-13 02:16] jepler commented on #63
I added printing the pid to the simpletest, does that scratch the itch @jerryneedell ?

[2021-05-13 02:51] jerryneedell commented on #63
Yes! Thank you. Would you like to close this or keep it open for future defy?

[2021-05-13 20:32] #63 closed

[2021-05-22 15:58] panellaj opened #67 "Product ID 4991 (I2C rotary encoder)"
When turning the encoder clockwise, the number is increasing with a negative number.  This is assuming the start position is 0.

https://forums.adafruit.com/viewtopic.php?f=19&t=179100#p872488

[2021-06-08 19:14] jfurcean commented on #49
This should be fixed by #72.

[2021-06-16 23:17] #49 closed

[2021-06-21 16:27] ladyada commented on #67
'fixed' in https://github.com/adafruit/Adafruit_CircuitPython_seesaw/pull/75

[2021-06-21 16:27] #67 closed

[2021-08-09 02:26] pshanesmith opened #77 "Setting PWMOut.duty_cycle"
This comments indicate a 16-bit number is expected.  If you attempt to set it to a number higher than 255, it throws an error on analog_write.  The documentation states these are 8-bit PWMs, so I believe the comments and error checking are incorrect.

`
Traceback (most recent call last):
  File "seesaw_readadc.py", line 48, in <module>
    pwm1.duty_cycle = 0xFFFF
  File "/home/pi/Testing/venv/lib

[2021-08-09 02:33] pshanesmith opened #78 "Sampling Rate for ADC is extremely low"
As currently written, it appears you can only do about 93 SPS.  It looks like if there is a shorter delay introduced on analog_read, it drastically increases the sampling rate and it seems to be running stable.

`
    def analog_read(self, pin):
        """Read the value of an analog pin by number"""
        buf = bytearray(2)
        if pin not in self.pin_mapping.analog_pins:
            raise V

[2021-08-09 15:32] caternuson commented on #78
That's probably there to enforce the underlying requirement of the seesaw firmware:
https://learn.adafruit.com/adafruit-seesaw-atsamd09-breakout/analog-to-digital-converter
[code]

[2021-08-09 15:45] caternuson commented on #77
`This comments indicate a 16-bit number is expected.`

Can you link to where this is located?

[2021-08-10 23:34] pshanesmith opened #79 "Object instantiation causes a reset"
Having a reset on the board when you create an instance of the Seesaw object limits a lot of applications of the device.  The libraries for other breakouts don't do this.  Most assume the current state persists unless you power off or reset.

Having the option to not reset would be beneficial.

In my example, I have separate scripts that are called by a master program.  In the case, I trigger a PW

[2021-08-11 17:12] tannewt commented on #79
Drivers should reset the peripheral to ensure the script runs the same each time. Leaving previous state can cause the script to change behavior without it being obvious why.

Why do you need to share state across scripts? A plugin system could achieve similar flexibility without restarting everything.

I agree though that there should be an option to turn off the reset. Perhaps a `reset` keyword

[2021-08-13 19:02] snarflakes opened #80 "Hi, Can we rename seesaw library element digitalio to digitalio2?"
It is conflicting with my adafruit screen's digitalio.  The seesaw "digitalio" i guess doesn't have all the same elements needed for launching the adafruit 1.3 TFT Bonnet screen.

Traceback (most recent call last):
  File "gifwebrotary.py", line 44, in <module>
    cs_pin = digitalio.DigitalInOut(board.CE0)
AttributeError: module 'adafruit_seesaw.digitalio' has no attribute 'DigitalInOut'

[2021-08-13 20:31] FoamyGuy commented on #80
Can you the rest of your `gifwebrotary.py` code file, or a link to it if it's already hosted in github or somewhere else online?

It should be possible to modify your imports slightly to get it so your code will use the correct implementation of digitalio even if the seesaw stuff is also needed for other things. I can try to help you get it fixed.

[2021-08-15 00:22] snarflakes commented on #80
Thanks so much, you pointed me in the right direction.  I moved things around and got it to work. I will resubmit if I run into further problems with this conflict.

[2021-08-15 00:22] #80 closed

[2021-08-18 00:15] lurk101 opened #82 "Soil sensor LED unusable"
The soil sensor LED or PA27 cannot be controlled via seesaw.

Because the CONFIG_ACTIVITY_LED define for board SOIL defaults to 0. So

[code]

Bit 27 is always masked out! What's the point of the LED if you can't use it?

[2021-08-18 00:46] lurk101 commented on #82
Closing. Wrong repo

[2021-08-18 00:46] #82 closed

[2021-08-29 02:19] pshanesmith commented on #77
Hi Cater.  Line 37 and 46 in PWMOut.py reference this.

[2021-08-29 02:24] pshanesmith commented on #79
Thanks for the response.  Many of the breakouts offered by Adafruit do not reset the device.

In my case, I was attempting to run small scripts in response to sensor input.  This is part of an an application developed by someone else that polls using input modules and responds using output modules.  There's no option to retain objects between polling and output cycles.

[2021-08-29 02:28] pshanesmith commented on #78
Thanks Cater.  In this case, the 1ms delay is being used between reads from the ADC on the same channel with no reads on other channels.  I was able to update that number to a much shorter delay and it could run stable.  I suppose there would need to be some detection for a channel swap I order to honor thale required delay while supporting faster reading on a single channel.

[2021-09-27 17:24] FoamyGuy opened #83 "Missing Type Annotations"
There are missing type annotations for some functions in this library.

The `typing` module does not exist on CircuitPython devices so the import needs to be wrapped in try/except to catch the error for missing import. There is an example of how that is done here:

[code]

Once imported the typing annotations for the argument type(s), and return type(s) can be added to the function signature. Here

[2021-10-08 21:51] kattni opened #84 "seesaw digitalio not setting pullups properly"
The following code should work.
[code]
However, it does not. The pin is left floating. The following code, _does_ work.
[code]
Presumably the first example is supposed to work like the second example, but it does not. I have no suggestions on where to start with fixing this.

[2021-10-08 22:26] caternuson commented on #84
The checks being done in `adafruit_seesaw.digitalio.py` are based on the core `digitalio` library defines. But the `Seesaw` class in `adafruit_seesaw.seesaw.py` also defines its own set. Mixing these is what is leading to this issue.
[code]

Not sure what the proper solution is. Open for discussion. :)

[2021-10-10 12:17] jepler commented on #84
Should the incorrect code be detected as an error, like
[code]

[2021-10-10 15:57] caternuson commented on #84
That'd help with visibility, since it would gripe instead of silently accepting and doing something unexpected.

I guess this could be considered a bug in user code:
[code]
since `ss.INPUT_PULLUP` is a `mode`, not a `pull`.

[2021-11-13 15:10] rsbohn opened #89 "Variable Frequency PWM for ATtiny8x7 Seesaw Breakout"
I want to make a variety of beep noises with the ATtiny8x7 Seesaw Breakout. The PWMOut object suggests that changing the frequency is possible, but in practice it is not.

    def sweep_down(high: int, low:int):
        spkr.frequency = high
        spkr.duty_cycle = 0x8000
        decay = 0.9
        while spkr.frequency > low:
            spkr.frequency = int(spkr.frequency * decay)
        spkr

[2022-01-28 23:25] GH15ADF opened #92 "Can't use addr 0x38 for STEMMA Soil Sensor on Funhouse"
I have a Funhouse and a few Adafruit STEMMA Soil Sensor - I2C Capacitive Moisture Sensors. The Funhouse updated to CP 7.1.1 and circup-ed all the libraries. But the adafruit_seesaw.seesaw library is balking at 0x38 as an address for the sensor. As per the Learn guide, the address can bet set to 0x36 thru 0x39. When the address is 0x36, 0x37, or 0x39 everything works fine and I get readings. This i

[2022-01-29 01:04] ladyada commented on #92
yah the AHT20 is 0x38 - you can't have two items with the same address - this is normal! :)
https://www.adafruit.com/product/4566
https://learn.adafruit.com/i2c-addresses

[2022-01-29 01:04] #92 closed

[2022-01-29 15:20] GH15ADF commented on #92
Understood. However, the error returned is so very unhelpful, "Please check your wiring"

[2022-02-01 18:19] troylball opened #93 "two encoders at once?"

[2022-02-01 18:43] ladyada commented on #93
@jedgarpark or @kattni may already have an example they can add

[2022-02-01 18:50] jedgarpark commented on #93
I built a version of this in Arduino, but I can work on a CircuitPython example.

[2022-02-01 18:51] troylball commented on #93
So what are my next steps?  Search their git hub repositories and reach out to them directly?  Can I / should I refer to this email and say that Adafruit suggests I reach out?

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows

From: ***@***.***>
Sent: Tuesday, February 1, 2022 12:43 PM
To: ***@***.***>
Cc: ***@***.***>; ***@***.***>
Subject: Re: [adafruit/Adafruit_Circuit

[2022-02-01 18:54] jedgarpark commented on #93
@troylball I'll try to put together an example later today.

[2022-02-01 18:55] troylball commented on #93
Thanks John, that would be appreciated,  it does not need to bee too intrecit.  My end goal is to use these with a TEA 5767 FM chip to convert an old radio.  One button volume one button frequency.  I am guessing I could run two programs at the same time but thought it would nice to see it all together.

I see your other e-mail came in thanks for that

Thanks,

Sent from Mail<https://go.microsoft.

[2022-02-02 02:21] jedgarpark commented on #93
@troylball here's an example of two encoders https://github.com/adafruit/Adafruit_Learning_System_Guides/blob/main/Seesaw_QT_Rotary_Encoder_Multiples/code.py

[2022-02-02 05:34] ladyada commented on #93
@jedgarpark  this should go into this library as an example, @kattni can help if needed

[2022-02-02 17:16] #93 closed

[2022-02-02 17:24] jedgarpark commented on #93
it is now in the library examples

[2022-03-12 18:07] caternuson opened #97 "Make AnalogIn.value return always 16 bit?"
The CP standard for `AnalogIn.value` is 16 bit:
https://docs.circuitpython.org/en/latest/shared-bindings/analogio/index.html#analogio.AnalogIn.value

This library wants to follow same convention:
https://github.com/adafruit/Adafruit_CircuitPython_seesaw/blob/fd26309627c0758c982d272b6c708322102bddbf/adafruit_seesaw/analoginput.py#L34

[NeoSlider](https://www.adafruit.com/product/5295) (others?) ret

[2022-03-13 19:48] ladyada commented on #97
it shooould yes! dox need updating too

[2022-03-14 19:53] caternuson commented on #97
OK, pretty easy fix, just a matter of scaling.

Which dox?

[2022-05-01 03:55] Neradoc commented on #77
The documentation indicates:
https://github.com/adafruit/Adafruit_CircuitPython_seesaw/blob/b4cb661e6997782b68d2fb027993f9f1dc47825a/adafruit_seesaw/pwmout.py#L36-L40

The code also does:
https://github.com/adafruit/Adafruit_CircuitPython_seesaw/blob/b4cb661e6997782b68d2fb027993f9f1dc47825a/adafruit_seesaw/pwmout.py#L43-L46

But it actually depends of the chip:
https://github.com/adafruit/Adafruit

[2022-05-06 09:25] Absol3000 opened #99 "No I2C device found at address: 0x36 that is suggested in the code"
I installed the seesaw library to my itsybitsy. I tried the 7x version and the version for older systems but the dress of the I2C device is not found in both files. I dont know how to fix this problem so i hope someone can help. I wanted to view the mpy file to find it but those files are already encoded so i cannot access them. If somebody knows a solution then that would be great!

![image](http

[2022-05-06 13:49] caternuson commented on #99
That does not look like an Adafruit Soil Sensor:
https://www.adafruit.com/product/4026
which is what the seesaw library is expecting.

Please contact the manufacturer of the soil sensor.

[2022-05-06 13:49] #99 closed

[2022-05-16 13:22] ayodhyadhameesha opened #100 "Keypad"
can you help to build a sample code for keypad.
I tried I get this error "type object 'Seesaw' has no attribute 'Keypad'"
Thank you

[2022-05-16 18:49] ladyada commented on #100
check out https://github.com/adafruit/Adafruit_CircuitPython_NeoTrellis for a keypad example library!

[2022-05-16 18:49] #100 closed

[2022-05-30 15:35] caternuson opened #101 "RGBW NeoPixel support slightly broken"
The `bpp` parameter is being set separately from the `pixel_order` parameter with a default value of `3`, and `bpp` has precedence. So the following example code results in unexpected behavior when using RGBW neopixels:
[code]
![image](https://user-images.githubusercontent.com/8755041/171024044-5688920d-4e28-4893-9265-b90aef27997c.png)

By explicitly setting `bpp=4` in addition to `pixel_order`, t

[2022-06-12 23:58] ahodsdon commented on #101
It looks like there is some existing code that depends on the old (incorrect) behavior. For instance, the NeoKey1x4 driver has this:

[https://github.com/adafruit/Adafruit_CircuitPython_NeoKey/blob/main/adafruit_neokey/neokey1x4.py]:
`
        self.pixels = NeoPixel(
            self, _NEOKEY1X4_NEOPIX_PIN, _NEOKEY1X4_NUM_KEYS, brightness=0.2
        )
`

The NeoKey1x4 only has an 24-bit Neopixel,

[2022-06-13 00:15] vpicone commented on #101
The neopixel trellis examples are broken, seems related to this. Reverting to 1.10.10 fixed the issue.

[code]

[2022-06-15 14:31] caternuson commented on #101
@vpicone Thanks. This is sort of whack-a-mole. Fix one thing and it breaks another thing that was relying on the semi-broken behavior. This is essentially a new issue. Opened one here:
https://github.com/adafruit/Adafruit_CircuitPython_NeoTrellis/issues/18

@ladyada Any idea why the `GRBW` default? instead of just `RGB`?
https://github.com/adafruit/Adafruit_CircuitPython_seesaw/blob/1230da9e113817

[2022-06-16 14:04] caternuson opened #103 "Change NeoPixel pixel order default behavior?"
Not sure why GRBW was chosen as default:
https://github.com/adafruit/Adafruit_CircuitPython_seesaw/blob/1230da9e11381767c7298d41c029ba63672ee1a6/adafruit_seesaw/neopixel.py#L73

This PR:
https://github.com/adafruit/Adafruit_CircuitPython_seesaw/pull/102
changed the behavior in a way that seems to be breaking things elsewhere.
https://github.com/adafruit/Adafruit_CircuitPython_NeoTrellis/issues/18

[2022-06-17 16:30] caternuson commented on #101
@ladyada yep, i think so. i recreated original issue and verified fix. can reopen if needed if others still run into oddness.

[2022-06-17 16:30] #101 closed

[2022-06-17 16:31] #103 closed

[2022-07-08 23:47] MauiJerry opened #105 "seesaw.neopixel is incompatible with regular neopixel protocol"
There is a fundamental incompatibility between regular Neopixel(and Dotstar) protocol and the seesaw version.  The common protocol is derived from PixelBuf which keeps an array of values and transmits on show(). The seesaw version does not keep the pixel values local.  It transmits them individually on each __setitem__().  This has two issues:
  * first is  it eliminates reuse of usual animation c

[2022-07-10 17:15] ladyada commented on #105
we do want to tweak neopixel support but may not get to it ASAP - any optimizaiton code to this library is appreciated as a PR

[2022-07-11 22:45] MauiJerry commented on #105
Neradoc shared a prototype PixelBuf derived seesaw.neopixel replacement.  Unsure of how tested it is. (attached with some unfinished comments by me)
[neopixel-subclass.py.txt](https://github.com/adafruit/Adafruit_CircuitPython_seesaw/files/9087965/neopixel-subclass.py.txt)

[2022-07-22 23:42] #105 closed

[2022-07-22 23:43] dhalbert commented on #105
@MauiJerry would you like to test #106, or have you already done so? If it's fine, we'll make a major release. Thanks!

[2022-07-23 17:06] MauiJerry commented on #105
i used Neradoc's branch in our project on rPi Pico feather with no
problems. not an exhaustive test but it ran at an event for 6-7hr.

- jerry isdale

sent from my phone, which may have added its own interpretation of what i
typed or dictated. I apologize for any auto correct errors introduced by
our robotic under lord.

On Fri, Jul 22, 2022, 1:44 PM Dan Halbert ***@***.***> wrote:

[2022-07-24 16:16] carlfj opened #107 "OverflowError small int overflow on QT Py SAMD21"
When testing QT Py SAMD21 with the NeoKey 1x4 QT I2C Breakout, I got the error `OverflowError: small int overflow`, using the example [neokey1x4_simpletest.py](https://github.com/adafruit/Adafruit_CircuitPython_NeoKey/blob/main/examples/neokey1x4_simpletest.py) from the library / [learn.adafruit.com](https://learn.adafruit.com/neokey-1x4-qt-i2c/python-circuitpython):

[code]
The program is identic

[2022-07-24 18:02] Neradoc commented on #107
I briefly looked at it, it happens on builds without long ints, because it's trying to unpack a 4 bytes buffer into an int, and small ints in Circuitpython are limited to 30 bits, so the maximum is `0x3FFFFFFF`.

If we don't want to unconditionally reverse #98 we could add a try/except for `OverflowError`.

[2022-07-24 21:38] carlfj commented on #107
Since the most prominent product photo/gif of the NeoKey 1x4 QT I2C Breakout shows it connected to QT Py SAMD21, I think it's rather urgent that the standard adafruit_seesaw library works for SAMD21. Getting support for the last 2 bits / 2 pins on builds without long ints can wait until a compromise has been found.

Instead of just reversing #98, adding a try/except for the special case where the

[2022-07-25 12:24] jepler commented on #107
That sounds like a good compromise. @carlfj can you open a Pull Request with the change?

[2022-07-25 13:03] jepler commented on #107
.. adding a comment to state that it's for compatibility with boards that don't support arbitrary integers may help prevent it being removed in the future by a well-meaning contributor.

[2022-07-25 20:58] #107 closed

[2022-07-26 19:42] carlfj commented on #107
Thank you for the help. Lovely so see a fix be released quickly, all the way to the CircuitPython bundle.

I don't have any real idea about the performance impact with this try/exception error handling of `struct.unpack(">I", buf)`. It mostly impacts builds without long ints when using ATSAMD09 based Seesaw products, as they will run both try and except scopes. These boards all have an external pu

[2022-07-26 19:58] tekktrik commented on #107
I'm torn about it, honestly.  I agree that this second solution is more elegant in a way, but I also like the "Easier To Ask for Forgiveness Than Permission" (EAFP) approach as more Pythonic.  But I'm also not sure what happens behind the scenes.  The way it's written now, I'd be surprised if it ever got refactored accidentally by someone with good intentions as @jepler mentioned, and I like that

[2022-10-07 00:32] tekktrik commented on #79
I think this was fixed by the linked commit above.  Is that correct, @ladyada?

[2022-10-07 01:48] #79 closed

[2022-10-07 01:48] ladyada commented on #79
yep!